{% extends "layout.html" %}
{% block body %}
<br/>

{% if response_scoring.json()["result"]["prediction"]==0.0 %}
    <h2>This customer is predicted Not to Churn!</h2>
    {% endif %}
                
{% if response_scoring.json()["result"]["prediction"]==1.0 %}
    <h2>This customer is predicted to Churn </h2>
	
    {% endif %}
	
<p>Probability to Churn = {{ "{:.2f}".format(response_scoring.json()["result"]["probability"]["values"][1]*100) }}%</p>


<br>
<p><strong>Click the Customer Churn link in the navigation bar above to make another prediction.</strong></p>


{% endblock %}